@use "../global" as *;

.c-category {
  --_category-padding-block: calc(4 * var(--to-rem));
  --_category-padding-inline: calc(20 * var(--to-rem));
  --_category-color: var(--color-text-sub); // カテゴリ未指定時のデフォルト色

  padding-block: var(--_category-padding-block);
  padding-inline: var(--_category-padding-inline);
  border-radius: 6px;

  // border-colorを個別指定せず、colorを継承させることで
  // カテゴリごとの色分岐を --_category-color の上書き
  border: 1px solid currentColor;
  color: var(--_category-color);
  width: fit-content;

  @include mq(md) {
    --_category-padding-inline: calc(16 * var(--to-rem));
  }

  // カテゴリーごとの色指定
  &[data-category="new"] {
    --_category-color: var(--color-category-new);
  }
  &[data-category="tips"] {
    --_category-color: var(--color-category-tips);
  }
  &[data-category="interview"] {
    --_category-color: var(--color-category-interview);
  }
  &[data-category="news"] {
    --_category-color: var(--color-category-news);
  }
}

.c-category__label {
  font-size: calc(18 * var(--to-rem));

  @include mq(md) {
    font-size: calc(13 * var(--to-rem));
  }
}
