@use "../global" as *;

.c-pagination {
  display: flex;
  align-items: center;
  column-gap: calc(8 * var(--to-rem));
}

.c-pagination .page-numbers {
  --_touch-target-width-size: 28px;
  --_touch-target-height-size: 32px;

  --_current-padding-block: calc(2 * var(--to-rem));
  --_current-padding-inline: calc(8 * var(--to-rem));

  min-width: var(--_touch-target-width-size);
  min-height: var(--_touch-target-height-size);
  display: grid;
  place-content: center;

  font-size: calc(20 * var(--to-rem));
  font-weight: var(--fw-bold);
  line-height: calc(140 / 100);
  color: var(--color-text-sub);
  transition: opacity var(--duration) var(--ease-in-out-sine);

  // 表示されている数字の状態
  &[aria-current="page"] {
    padding: var(--_current-padding-block) var(--_current-padding-inline);
    background: var(--color-secondary);
    border-radius: 4px;
    color: var(--color-text-white);
  }

  // 表示されている数字以外のスタイル
  &:not([aria-current="page"]) {
    &:focus-visible {
      opacity: 0.8;
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.c-pagination__arrow {
  --_arrow-size: 36px;

  width: var(--_arrow-size);
  aspect-ratio: 1;
}
