@use "../global" as *;

.c-section-title {
  --_clamp-min: 32;
  --_clamp-max: 24;
  --_clamp: clamp(
    calc(var(--_clamp-min) * var(--to-rem)),
    calc((var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (1440 - 390) * 390) * var(--to-rem) + (var(--_clamp-max) - var(--_clamp-min)) / (1440 - 375) * 100vi),
    calc(var(--_clamp-max) * var(--to-rem))
  );

  //align-items centerでは見出しが改行した際に
  //見出しの中央にアイコンが配置されて不格好になるため
  //見出しが改行したらアイコンが一行目なるようにする
  display: block grid;
  grid-template-columns: auto auto; //アイコン 見出し
  column-gap: calc(12 * var(--to-rem));
  // font-size / line-height を親にし、svgとspan両方に継承させる
  font-size: var(--_clamp);
  line-height: calc(120 / 100);

  &[data-align="center"] {
    justify-content: center;
    text-align: center;
  }

  &[data-align="left"] {
    justify-content: start;
    text-align: left;
  }

  &[data-align="right"] {
    justify-content: end;
    text-align: right;
  }
}

.c-section-title svg {
  --_icon-height: 38px;
  --_icon-size: 72 / 38;

  width: auto;
  height: var(--_icon-height);
  aspect-ratio: var(--_icon-size);
  margin-block: calc((1lh - var(--_icon-height)) / 2);

  @include mq(md) {
    --_icon-height: 22px;
  }
}

.c-section-title span {
  font-weight: var(--fw-bold);
  font-family: var(--title-font-family);
  color: var(--color-primary);
}

.c-section-title[data-status="white"] span {
  color: var(--color-text-white);
}

.c-section-title[data-status="dark"] span {
  color: var(--color-primary);
}
