@use "../global" as *;

.c-section-title {
  --_clamp-min: 32;
  --_clamp-max: 24;
  --_clamp: clamp(
    calc(var(--_clamp-min) * var(--to-rem)),
    calc((var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (1440 - 390) * 390) * var(--to-rem) + (var(--_clamp-max) - var(--_clamp-min)) / (1440 - 375) * 100vi),
    calc(var(--_clamp-max) * var(--to-rem))
  );

  display: flex;
  align-items: center;
  column-gap: calc(12 * var(--to-rem));

  &[data-align="center"] {
    justify-content: center;
    text-align: center;
  }

  &[data-align="left"] {
    justify-content: start;
    text-align: left;
  }

  &[data-align="right"] {
    justify-content: end;
    text-align: right;
  }
}

.c-section-title span {
  font-size: var(--_clamp);
  font-weight: var(--fw-bold);
  line-height: calc(120 / 100);
  font-family: var(--title-font-family);
  color: var(--color-primary);
}

.c-section-title[data-status="white"] .c-section-title span {
  color: var(--color-text-white);
}
