@use "../global" as *;

.c-tags {
  display: flex;
  align-items: center;
  column-gap: calc(8 * var(--to-rem));
}

.c-tag {
  --_tag-padding-block: calc(2 * var(--to-rem));
  --_tag-padding-inline-start: calc(8 * var(--to-rem));
  --_tag-padding-inline-end: calc(12 * var(--to-rem));
  --_tag-hover-color: #daeff8;

  /* 全体リンク（z-index: 1）よりも上に、カテゴリーやタグのリンクを配置する */
  position: relative;
  z-index: 2;

  padding-block: var(--_tag-padding-block);
  padding-inline: var(--_tag-padding-inline-start) var(--_tag-padding-inline-end);
  background: var(--color-tag-bg);
  border-radius: 24px;

  font-size: calc(12 * var(--to-rem));
  line-height: calc(180 / 100);
  white-space: nowrap;
  transition: background var(--duration) var(--ease-out-sine);

  &:focus-visible {
    color: var(--_tag-hover-color);
    background: var(--color-black);
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--_tag-hover-color);
      background: var(--color-black);
    }
  }
}
