@use "../global" as *;

.p-all {
  --_clamp-min: 48;
  --_clamp-max: 64;
  --_clamp: clamp(
    calc(var(--_clamp-min) * var(--to-rem)),
    calc((var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (1440 - 375) * 375) * var(--to-rem) + (var(--_clamp-max) - var(--_clamp-min)) / (1440 - 375) * 100vi),
    calc(var(--_clamp-max) * var(--to-rem))
  );
  padding-block-start: var(--_clamp);
}

.p-all__tab-list {
  margin-block-start: calc(48 * var(--to-rem) + var(--leading-trim));

  @include mq(md) {
    margin-block-start: calc(20 * var(--to-rem) + var(--leading-trim));
  }
}

.p-all__tab-contents {
  --_tab-content: calc(1034 * var(--to-rem));

  width: min(var(--_tab-content), 100%);
  height: auto;
}

.p-all__card-list {
  --_columns: 3;
  --_gap: calc(32 * var(--to-rem));

  display: grid;
  grid-template-columns: repeat(var(--_columns), minmax(0, 1fr));
  gap: var(--_gap);

  @media (max-width: 949px) {
    --_columns: 2;
  }

  @media (max-width: 749px) {
    --_columns: 1;
    --_gap: calc(12 * var(--to-rem));
  }
}

.p-all__card-item {
  &:nth-child(n + 10) {
    display: none;
  }

  // 950px未満：最大6枚 ＝ 7枚目以降（7, 8, 9...）を非表示
  //（750px未満も最大6枚で共通なため、ここで一括コントロール）
  @media (max-width: 949px) {
    &:nth-child(n + 7) {
      display: none;
    }
  }
}

.p-all__tag-filter-inner {
  width: min(calc(816 * var(--to-rem) + 26 * var(--to-rem) * 2), 100%);
  padding-inline: calc(26 * var(--to-rem));
  margin-inline: auto;
  padding-block: calc(48 * var(--to-rem)) calc(64 * var(--to-rem));

  @include mq(md) {
    padding-block: calc(64 * var(--to-rem)) calc(48 * var(--to-rem));
  }
}

// ----------------------------------------
// ページネーション
// ----------------------------------------

.p-all__pagination .nav-links {
  justify-content: center;
  margin-block-start: calc(58 * var(--to-rem));

  @include mq(md) {
    margin-block-start: calc(32 * var(--to-rem));
  }
}
