@use "../global" as *;

.p-mv {
  --_card-size: calc(596 * var(--to-rem));
  --_card-image-size: 540 / 303;

  --_clamp-min: 60;
  --_clamp-max: 63;
  --_clamp: clamp(
    calc(var(--_clamp-min) * var(--to-rem)),
    calc((var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (1440 - 375) * 375) * var(--to-rem) + (var(--_clamp-max) - var(--_clamp-min)) / (1440 - 375) * 100vi),
    calc(var(--_clamp-max) * var(--to-rem))
  );

  padding-block-start: var(--_clamp);
}

.p-mv__inner {
  container-type: inline-size;
}

.p-mv__swiper-container {
  position: relative;
}

.p-mv__swiper-slide {
  width: var(--_card-size);
  padding-block-end: calc(48 * var(--to-rem));

  @include mq(md) {
    --_card-size: calc(302 * var(--to-rem));
    padding-block-end: calc(52 * var(--to-rem));
  }
}

.p-mv__swiper-slide:nth-of-type(odd) {
  margin-block-start: clamp(calc(12 * var(--to-rem)), 4cqi, calc(40 * var(--to-rem)));
}

.p-mv__card-img {
  aspect-ratio: var(--_card-image-size);
}

.p-mv__card-tags {
  display: flex;
  align-items: center;
  column-gap: calc(16 * var(--to-rem));
}

// ----------------------------------------
// ナビゲーション
// ----------------------------------------

.p-mv__swiper-button-wrap {
  position: absolute;
  top: calc(263 * var(--to-rem));
  left: 50%;
  translate: -50% -50%;

  width: var(--_card-size); //カードの大きさを基準にするため
  aspect-ratio: var(--_card-image-size);

  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  z-index: 1;

  @include mq(md) {
    top: calc(135 * var(--to-rem));
    --_card-size: calc(302 * var(--to-rem));
  }
}

.p-mv__swiper-prev,
.p-mv__swiper-next {
  pointer-events: all; //ボタン自身はクリックできるようにする
}

.p-mv__swiper-prev {
  translate: -110% 0;

  @include mq(md) {
    translate: -60% 0;
  }
}

.p-mv__swiper-next {
  translate: 110% 0;

  @include mq(md) {
    translate: 60% 0;
  }
}
