@use "../global" as *;

.p-single__inner {
  width: min(calc(1016 * var(--to-rem) + 21 * var(--to-rem) * 2), 100%);
  margin-inline: auto;
  padding-inline: calc(21 * var(--to-rem));

  @include mq(md) {
    border-image: linear-gradient(var(--color-white) 0 0) fill 0 / /0 100vi;
  }
}

.p-single__contents {
  --_pb-min: 20;
  --_pb-max: 48;
  --_pb: clamp(calc(var(--_pb-min) * var(--to-rem)), calc((var(--_pb-min) - (var(--_pb-max) - var(--_pb-min)) / (1440 - 390) * 390) * var(--to-rem) + (var(--_pb-max) - var(--_pb-min)) / (1440 - 390) * 100vi), calc(var(--_pb-max) * var(--to-rem)));

  padding-block: var(--_pb);
  padding-inline: calc(88 * var(--to-rem));
  background: var(--color-white);
  border-radius: 24px;

  @include mq(md) {
    padding-inline: 0;
  }
}
.p-single__meta {
  display: flex;
  flex-direction: column;
  row-gap: calc(8 * var(--to-rem));
}
.p-single__date {
  display: flex;
  align-items: center;
  column-gap: calc(8 * var(--to-rem));

  font-size: calc(16 * var(--to-rem));
  line-height: calc(180 / 100);
  color: var(--color-text-sub);

  @include mq(md) {
    font-size: calc(14 * var(--to-rem));
  }
}

.p-single__title {
  --_clamp-min: 20;
  --_clamp-max: 28;
  --_clamp: clamp(
    calc(var(--_clamp-min) * var(--to-rem)),
    calc((var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (1440 - 375) * 375) * var(--to-rem) + (var(--_clamp-max) - var(--_clamp-min)) / (1440 - 375) * 100vi),
    calc(var(--_clamp-max) * var(--to-rem))
  );
  font-size: var(--_clamp);
  font-weight: var(--fw-bold);
  line-height: calc(180 / 100);
  letter-spacing: 0.01em;
  margin-block-start: calc(8 * var(--to-rem));
}
.p-single__img {
  width: 100%;
  height: auto;
  aspect-ratio: 840 / 472;
  margin-block-start: calc(16 * var(--to-rem) + var(--leading-trim));
}

.p-single__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.p-single__summary {
  font-size: calc(15 * var(--to-rem));
  line-height: calc(200 / 100);
  letter-spacing: 0.14em;
  margin-block-start: calc(32 * var(--to-rem));

  @include mq(md) {
    font-size: calc(14 * var(--to-rem));
    margin-block-start: calc(20 * var(--to-rem));
  }
}

// ----------------------------------------
// 目次
// ----------------------------------------

.p-single__toc {
  margin-block-start: calc(32 * var(--to-rem));

  @include mq(md) {
    margin-block-start: calc(20 * var(--to-rem));
  }
}

// ----------------------------------------
// CMSコンテンツ
// ----------------------------------------

.p-single__toc-content {
  width: min(calc(463 * var(--to-rem)), 100%);
}

:where(.p-single__content) {
  margin-block-start: calc(20 * var(--to-rem));

  // デフォルト余白（全要素間）
  > * + * {
    margin-block-start: calc(20 * var(--to-rem) + var(--leading-trim));
  }

  > p {
    font-size: calc(15 * var(--to-rem));
    line-height: calc(200 / 100);
    letter-spacing: 0.15em;

    @include mq(md) {
      font-size: calc(14 * var(--to-rem));
    }
  }

  > h3 {
    font-size: calc(24 * var(--to-rem));
    font-weight: var(--fw-medium);
    line-height: calc(160 / 100);
    letter-spacing: 0.15em;

    padding-block: calc(16 * var(--to-rem));
    border-block-end: 2px solid var(--color-secondary);

    @include mq(md) {
      font-size: calc(18 * var(--to-rem));
    }
  }

  > h4 {
    font-size: calc(16 * var(--to-rem));
    font-weight: var(--fw-medium);
    line-height: calc(160 / 100);
    letter-spacing: 0.2em;

    padding-inline-start: calc(16 * var(--to-rem));
    border-inline-start: 2px solid var(--color-secondary);
  }

  // ----------------------------------------
  // テーブル
  // ----------------------------------------
  .wp-block-table {
    width: min(calc(683 * var(--to-rem)), 100%);

    table {
      border: 4px solid var(--color-secondary);

      thead {
        border: none;
      }

      //共通サイズ
      th,
      td {
        font-size: calc(16 * var(--to-rem));
        line-height: calc(150 / 100);
        text-align: center;
        padding: calc(6 * var(--to-rem)) calc(18 * var(--to-rem));
        border: 1px solid var(--color-secondary);

        @include mq(md) {
          padding: calc(3 * var(--to-rem)) calc(6 * var(--to-rem));
          font-size: calc(13 * var(--to-rem));
        }
      }

      //1列目
      td:first-child {
        border-inline-end: 2px solid var(--color-secondary);
        background: var(--color-bg);
        width: 20%;
      }

      //2列目
      td:nth-of-type(2) {
        width: 24%;
      }

      //3列目
      td:nth-of-type(3) {
        width: 24%;
      }

      // 2列目（フリーコンサル列）を強調
      td:nth-child(2),
      th:nth-child(2) {
        font-weight: var(--fw-bold);
      }

      // 1行目の2列目（フリーコンサルのセル）だけを白文字にする
      tr:first-child td:nth-child(2) {
        color: var(--color-text-white);
        background: var(--color-secondary);
      }
    }
  }

  // ----------------------------------------
  // ボタン
  // ----------------------------------------

  .wp-block-button__link {
    --_padding-y: calc(16 * var(--to-rem));
    --_padding-x: calc(32 * var(--to-rem));

    display: inline-flex;
    align-items: center;
    column-gap: calc(10 * var(--to-rem));

    padding: var(--_padding-y) var(--_padding-x);
    border-radius: 16px;
    background: var(--color-secondary);
    transition: background var(--duration) var(--ease-in-sine);

    &::after {
      --_thickness: 3px;
      --_arrow-width: 11px;
      --_arrow-height: 19px;

      content: "";
      width: var(--_arrow-width);
      height: var(--_arrow-height);
      background: var(--color-white);
      rotate: 0deg;
      clip-path: polygon(0 0, var(--_thickness) 0, 100% 50%, var(--_thickness) 100%, 0 100%, calc(100% - var(--_thickness)) 50%);
    }

    &:focus-visible {
      background: oklch(from var(--color-secondary) l c h / 0.7);
    }

    @media (any-hover: hover) {
      &:hover {
        background: oklch(from var(--color-secondary) l c h / 0.7);
      }
    }
  }
}

// ----------------------------------------
// よく読まれている記事
// ----------------------------------------

.p-single__popular {
  --_pt-min: 30;
  --_pt-max: 64;
  --_pt: clamp(calc(var(--_pt-min) * var(--to-rem)), calc((var(--_pt-min) - (var(--_pt-max) - var(--_pt-min)) / (1440 - 390) * 390) * var(--to-rem) + (var(--_pt-max) - var(--_pt-min)) / (1440 - 390) * 100vi), calc(var(--_pt-max) * var(--to-rem)));

  --_pb-min: 72;
  --_pb-max: 98;
  --_pb: clamp(calc(var(--_pb-min) * var(--to-rem)), calc((var(--_pb-min) - (var(--_pb-max) - var(--_pb-min)) / (1440 - 390) * 390) * var(--to-rem) + (var(--_pb-max) - var(--_pb-min)) / (1440 - 390) * 100vi), calc(var(--_pb-max) * var(--to-rem)));
  position: relative;
  padding-block: var(--_pt) var(--_pb);
  overflow: hidden; //ページ全体の横スクロール防止
}

.p-single__popular-inner {
  width: min(calc(1039 * var(--to-rem) + 32 * var(--to-rem) * 2), 100%);
  padding-inline: calc(32 * var(--to-rem));
  margin-inline: auto;
}

// ----------------------------------------
// キーワードを絞り込む
// ----------------------------------------

.p-single__tag-filter-inner {
  width: min(calc(816 * var(--to-rem) + 26 * var(--to-rem) * 2), 100%);
  padding-inline: calc(26 * var(--to-rem));
  margin-inline: auto;
  padding-block: calc(48 * var(--to-rem)) calc(64 * var(--to-rem));

  @include mq(md) {
    padding-block: calc(64 * var(--to-rem)) calc(48 * var(--to-rem));
  }
}

// ----------------------------------------
// 脚注
// ----------------------------------------

.p-single__footnotes {
  display: flex;
  flex-direction: column;
  row-gap: calc(12 * var(--to-rem));

  font-size: calc(12 * var(--to-rem));
  line-height: calc(120 / 100);
  letter-spacing: 0.02em;
  color: var(--color-text-sub);
}

// ----------------------------------------
// まとめ
// ----------------------------------------

.p-single__closing {
  --_border-color: #daeff8;

  font-size: calc(15 * var(--to-rem));
  line-height: calc(200 / 100);
  letter-spacing: 0.15em;

  padding-block: calc(28 * var(--to-rem)) calc(32 * var(--to-rem));
  border-block-start: 1px solid var(--_border-color);
  border-block-end: 1px solid var(--_border-color);
  margin-block-start: calc(32 * var(--to-rem) + var(--leading-trim));
}

// ----------------------------------------
// この記事のタグ
// ----------------------------------------

.p-single__tags {
  display: flex;
  column-gap: calc(32 * var(--to-rem));

  @include mq(md) {
    flex-direction: column;
    row-gap: calc(8 * var(--to-rem));
  }
}

.p-single__tags-label {
  font-size: calc(15 * var(--to-rem));
  line-height: calc(200 / 100);
  letter-spacing: 0.15em;
}
