@use "../global" as *;

.p-top-popular {
  --_pt-min: 30;
  --_pt-max: 64;
  --_pt: clamp(calc(var(--_pt-min) * var(--to-rem)), calc((var(--_pt-min) - (var(--_pt-max) - var(--_pt-min)) / (1440 - 390) * 390) * var(--to-rem) + (var(--_pt-max) - var(--_pt-min)) / (1440 - 390) * 100vi), calc(var(--_pt-max) * var(--to-rem)));

  --_pb-min: 72;
  --_pb-max: 98;
  --_pb: clamp(calc(var(--_pb-min) * var(--to-rem)), calc((var(--_pb-min) - (var(--_pb-max) - var(--_pb-min)) / (1440 - 390) * 390) * var(--to-rem) + (var(--_pb-max) - var(--_pb-min)) / (1440 - 390) * 100vi), calc(var(--_pb-max) * var(--to-rem)));

  position: relative;
  background: var(--color-secondary);
  padding-block: var(--_pt) var(--_pb);
  overflow: hidden; //ページ全体の横スクロール防止

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(/assets/images/image_popular_bg.webp) no-repeat center center / cover;
    mix-blend-mode: soft-light;
    opacity: 0.2;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: oklch(0% 0 0 / 5%);
    pointer-events: none;
  }
}

.p-top-popular__inner {
  container-type: inline-size;
  width: min(calc(1039 * var(--to-rem) + 32 * var(--to-rem) * 2), 100%);
  padding-inline: calc(32 * var(--to-rem));
  margin-inline: auto;
}

.p-top-popular__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(md) {
    flex-direction: column;
    row-gap: calc(24 * var(--to-rem));
  }
}

// ----------------------------------------
// ナビゲーション
// ----------------------------------------

/* 初期リセット */
.p-top-popular__swiper-prev,
.p-top-popular__swiper-next {
  position: static;
  width: auto;
  height: auto;
  margin-top: 0;
}

.p-top-popular__swiper-button-wrap {
  display: flex;
  align-items: center;
  column-gap: calc(16 * var(--to-rem));
  flex-shrink: 0;

  @include mq(md) {
    width: fit-content;
    margin-inline-start: auto;
  }
}

.p-top-popular__title {
  @include mq(md) {
    width: fit-content;
    margin-inline-end: auto;
  }
}

.p-top-popular__swiper-container {
  clip-path: inset(0% -50vw 0% 0%); //右側のinnerを無視
}

.p-top-popular__swiper {
  overflow: visible; //overflow-hiddenの解除。右側innerに隠れているカードを表示させるようにするため
}

.p-top-popular__swiper-wrapper {
  margin-block-start: clamp(calc(24 * var(--to-rem)), 4cqi, calc(36 * var(--to-rem)));
}

.p-top-popular__swiper-slide {
  --_card-size: calc(302 * var(--to-rem));

  width: var(--_card-size);
}

.p-top-popular__card-tags {
  display: flex;
  align-items: center;
  column-gap: calc(8 * var(--to-rem));
}

// ----------------------------------------
// ページネーション (progressbar)
// ----------------------------------------

.p-top-popular__swiper-pagination.swiper-pagination-horizontal {
  --_pad-left: calc(188 * var(--to-rem));
  --_pad-right: calc(213 * var(--to-rem));
  // 100% から左右の余白分× 2を引く
  --_progressbar-width: calc(100% - var(--_pad-left) - var(--_pad-right));
  --_progressbar-height: 8px;

  position: absolute;
  top: calc(100% - 36px);
  left: var(--_pad-left);
  translate: 0;

  width: var(--_progressbar-width);
  height: var(--_progressbar-height);
  border-radius: 4px;

  @include mq(md) {
    --_pad-left: calc(32 * var(--to-rem));
    --_pad-right: calc(38 * var(--to-rem));
    bottom: calc(40 * var(--to-rem));
  }
}
