@use "../global" as *;

.p-top-popular {
  --_pt-min: 30;
  --_pt-max: 64;
  --_pt: clamp(calc(var(--_pt-min) * var(--to-rem)), calc((var(--_pt-min) - (var(--_pt-max) - var(--_pt-min)) / (1440 - 390) * 390) * var(--to-rem) + (var(--_pt-max) - var(--_pt-min)) / (1440 - 390) * 100vi), calc(var(--_pt-max) * var(--to-rem)));

  --_pb-min: 72;
  --_pb-max: 98;
  --_pb: clamp(calc(var(--_pb-min) * var(--to-rem)), calc((var(--_pb-min) - (var(--_pb-max) - var(--_pb-min)) / (1440 - 390) * 390) * var(--to-rem) + (var(--_pb-max) - var(--_pb-min)) / (1440 - 390) * 100vi), calc(var(--_pb-max) * var(--to-rem)));

  position: relative;
  background: var(--color-secondary);
  padding-block: var(--_pt) var(--_pb);
  overflow: hidden; //ページ全体の横スクロール防止

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(/assets/images/image_popular_bg.webp) no-repeat center center / cover;
    mix-blend-mode: soft-light;
    opacity: 0.2;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: oklch(0% 0 0 / 5%);
    pointer-events: none;
  }
}

.p-top-popular__inner {
  width: min(calc(1039 * var(--to-rem) + 32 * var(--to-rem) * 2), 100%);
  padding-inline: calc(32 * var(--to-rem));
  margin-inline: auto;
}
